---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h4>Professional Summary</h4>
      <p>Cloud Engineer with a strong focous on the AWS and GCP cloud platforms. I specialize in
        architecting and managing cloud infrastructure. My expertice lies in infrastructure as code
        and CI/CD pipelines.
      </p>
      <h4>Stuff I know</h4>
      <ul>
        <li>
          Cloud Platforms: AWS, GCP
        </li>
        <li>
          Languages: Python, Bash, Typescript, Powershell
        </li>
        <li>
          CI/CD: Jenkins, Github Actions
        </li>
        <li>
          Monitoring/Logging: New Relic, Datadog, Dynatrace, Splunk, Cloudwatch
        </li>
      </ul>
      <h4>
        Certifications
      </h4>
      <ul>
        <li>
          GCP Cloud Architect - Professional
        </li>
        <li>
          AWS Certified Developer - Associate
        </li>
      </ul>
		</main>
		<Footer />
	</body>
</html>
