---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h4>Professional Summary</h4>
      <p>
        I am a cloud engineer with a strong focus on the AWS and GCP cloud platforms. 
        I specialize in architecting, managing, and creating scalable cloud infrastructure for distributed systems. 
        My expertice lies in infrastructure as code and CI/CD pipelines.
      </p>
      <h4>My Skills</h4>
      <ul>
        <li>
          Cloud Platforms: AWS, GCP
        </li>
        <li>
          Infrastructure as Code: Terraform, AWS CDK, CloudFormation
        </li>
        <li>
          Scripting: Bash, Python, Powershell
        </li>
        <li>
          CI/CD: Jenkins, Github Actions
        </li>
        <li>
          Linux Administration: Redhat, SUSE, Ubuntu Server
        </li>
        <li>
          Containerization: Docker, Kubernetes, AWS ECS, GCP GKE
        </li>
        <li>
          Networking: DNS, VPC, Load Balancing, Firewall
        </li>
        <li>
          Monitoring/Logging: New Relic, Datadog, Cloudwatch, Cloud Logging
        </li>
        <li>
          Security: Lacework, IAM, WAF
        </li>
      </ul>
      <h4>
        Certifications
      </h4>
      <a href="https://www.credly.com/badges/7ce5152d-dbf9-4adc-99b8-e295ddf60dca/public_url" target="_blank">
        <img src="./gcp-badge.png" alt="GCP Cloud Architect - Professional" />
      </a>
      <a href="https://www.credly.com/badges/ea0a5ba8-99bb-4e01-b7c1-aa688f247390/public_url" target="_blank">
        <img src="./aws-certified-developer-associate.png" alt="AWS Certified Developer - Associate" />
      </a>
      <br />
      <br />
      <h4>Fun Facts</h4>
        <p>
          I enjoy playing chess and the piano.
        </p>
		</main>
		<Footer />
	</body>
</html>
<style>
  img {
    width: 150px;
    transition: transform 0.2s;
  }

  img:hover {
    transform: scale(1.1);
  }
</style>
